@import "fonts"
@import "reset"

// colors : http://www.colourlovers.com/palette/128986/Cerveza!

headingsFontFamily = 'PacificoRegular'

lightColor = #F0F0C0
darkColor = #8D5103
strongAccent = #F76F05
mediumAccent = #F0A800
lightAccent = #FFD600

body
  background lightColor

.container
  margin 0 auto
  width 960px
  clearfix()

.header
  height 30px
  background lightAccent
  #social
    float right
    margin-top 4px
    width 130px

h1.huge
  text-align center
  margin 40px auto 65px auto
  color strongAccent
  font-size 100px
  line-height 100px
  font-weight lighter
  span.registered
    font-size 19px

#twitter
  width 400px
  margin 0 auto

#appId
  display none