@import "fonts"
@import "reset"

// colors : http://www.colourlovers.com/palette/128986/Cerveza!

headingsColor = #F76F05
headingsFontFamily = 'PacificoRegular'
backgroundColor = #F0F0C0
headerColor = #FFD600

body
  background backgroundColor

.container
  margin-right auto
  margin-left auto
  clearfix()

.header
  height 30px
  background headerColor

h1.huge
  text-align center
  margin-top: 200px
  color headingsColor
  font-size 100px
  line-height 100px
  font-weight lighter
  span.registered
    font-size 19px 